<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ciprian Bucur">

    <title> {% block title %} Login {% endblock %} </title>

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet">
    <style>
        {% block stylesheets %}
        .bb-alert {
            position: fixed;
            bottom: 25%;
            right: 0;
            margin-bottom: 0;
            font-size: 1.2em;
            padding: 1em 1.3em;
            z-index: 2000;
        }
        {% endblock %}
    </style>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br><br><br>
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {{flash_message}}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{flash_message}}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
    <script src="{{ asset('js/example.js') }}"></script>

    <script>
        $(document).ready(function() {

            setTimeout(function() {
                $(".alert").slideToggle(1000);
            }, 4000);

            $(function () {
                Example.init({
                    "selector": ".bb-alert"
                });
            });
        });
    </script>

    <div class="bb-alert alert-info" style="display: none;">
        <span></span>
    </div>
{% endblock %}
</body>
</html>